* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  text-align: left;
  background-color: #edf2f8;
}
h2 {
  color: hsl(217, 19%, 35%);
  margin-bottom: 1em;
}

p {
  color: hsl(214, 17%, 51%);
  line-height: 1.7em;
  margin-bottom: 3em;
}

.container {
  width: 90%;
  margin: 50px auto;
}

.padding {
  padding: 10% 5% 5% 5%;
}

.picture > img {
  width: 100%;
  border-radius: 1em 1em 0 0;
  display: block;
}

.header {
  background-color: #ffffff;
  border-radius: 0 0 1em 1em;
}
.clearfix {
  overflow: auto;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
.footer > img {
  border-radius: 10em;
  width: 50px;
  float: left;
}

.footer > h4 {
  display: inline;
}

.footer > div > h4 > span {
  color: hsl(212, 23%, 69%);
  display: block;
  margin-left: 40px;
}
div.text-bottom {
  margin-left: 5em;
  line-height: 1.5em;
}
div.text-bottom > h4 > span {
  margin-left: 0em;
}

picture > i {
  float: right;
  margin-top: 10px;
}

.fas {
  font-size: 30px;
}

.fas:hover {
  color: hsl(214, 17%, 51%);
}

.flex-cover {
  align-items: center;
  background-color: hsl(214, 17%, 51%);
  border-radius: 0 0 1em 1em;
  padding: 20px;
}

.share {
  flex: 1;
  color: hsl(212, 23%, 69%);
  padding-right: 20px;
  letter-spacing: 3px;
}

.flex-cover > a {
  flex: 1;
  display: inline-block;
  color: white;
}

.flex-cover .fas {
  flex: 1;
  display: inline-block;
  color: white;
  padding-right: ;
}

.flex-cover .fas:hover {
  color: hsl(214, 17%, 51%);
  color: black;
}

.flex-cover > a:hover {
  color: hsl(212, 23%, 69%);
}

.flex-cover .fa-share-square {
  float: right;
  border-radius: 5em;
}
